<html>
    <head>
        <title>This is home</title>
        <link rel="stylesheet" href='../public/css/stylesheet.css'>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        
    </head>
    <body>
        <!-- <img src="../public/img/img.jpg" alt="image" height="300" width="600"> -->
        
        <div class="mydiv" >

            <div class="form" style="margin-bottom: 10px">
                <h3>Thao tác</h3>
                
                <fieldset>
                    <legend>Thêm thông tin người dùng</legend>
                    <form method="post" action="/insert" id="frmInsert" class="form-inline">
                        <div class="form-group">
                            <label for="lastname">Họ và chữ lót:</label>
                            <!-- <div class="col-md-2"> -->
                            <input type="text" id="lastname" class="form-control" name="lastname">
                            <!-- </div> -->
                            
        
                            <label for="firstname">Tên:</label>
                            <input type="text" id="firstname" class="form-control" name="firstname">

                            <label for="birthday">Tuổi:</label>
                            <input type="text" class="form-control" id="birthday" name="birthday">

                            <label for="gender">Giới tính:</label>
                            <select id="gender" name="gender" class="form-control">
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>

                            <input type="submit" name="insertbtn" class="btn btn-primary" id="insertbtn" value="Thêm mới">
                        </div>
                        
                    </form>
                </fieldset>
                <fieldset>
                    <legend>Sửa thông tin người dùng</legend>
                    <form method="POST" action="/update" id="frmUpdate" class="form-inline">
                        <div class="form-group">
                            <label for="idUser">Mã người dùng</label>
                            <input type="text" class="form-control" id="idUser" readonly name="userId">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Họ và chữ lót:</label>
                            <input type="text" class="form-control" id="lastnameEdit" name="lastname">
                        </div>
                        <div class="form-group">
                            <label for="firstname">Tên:</label>
                            <input type="text" class="form-control" id="firstnameEdit" name="firstname">
                        </div>
                        <div class="form-group">
                            <label for="birthday">Tuổi:</label>
                            <input type="text" class="form-control" id="birthdayEdit" name="birthday">
                        </div>
                        <div class="form-group">
                            <label for="gender">Giới tính:</label>
                            <select id="genderEdit" name="gender" class="form-control">
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
                            <input type="submit" name="updatebtn" id="updatebtn" class="btn btn-success" value="Chỉnh sửa">
                    </form>
                    
                </fieldset>
                <fieldset>
                    <legend>Xóa người dùng</legend>
                    <form method="POST" action="/delete" id="frmDelete" class="col-md-2">
                        <div class="form-group">
                            <label for="userId">Mã người dùng:</label>
                            <input type="text" name="userId" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="userId" placeholder="id">
                            
                        </div>
                        <input type="submit" name="deletebtn" class="btn btn-danger" id="deletebtn" value="Xóa">
                    </form>
                </fieldset>
            </div>
            <table style="width:100%;" id="mytable" class="table table-striped">
                <tr>
                    <th class="col-select">Chọn</th>
                    <th>Số thứ tự</th>
                    <th>Mã người dùng</th>
                    
                    <th>Họ</th>
                    <th>Tên</th> 
                    <th>Giới tính</th>
                    <th>Tuổi</th>
                </tr>
                <% var i = 1; %>
                <% rs.forEach(function(student){ %>
                    <tr>
                        <td style="width: 40px"><input type="radio" id="row<%- student.id %>" name="check" class="check"></td>
                        <td><%- i %></td>
                        <td style="width: 40px !important"><%- student.id %></td>
                        
                        <td><%- student.lastname %></td>
                        <td><%- student.firstname %></td>
                        <% if(student.gender == 0) {%>

                        <td>Nam</td>

                        <% } else { %>

                        <td>Nữ</td>

                        <% } %>
                        <td><%- student.birthday %></td>    
                    </tr>
                    <% i++ %>
                <% }); %>
            </table> 
            <span>Danh sách này có: <span><%- rs.length %> người dùng</span></span>
            <br>
            <a href="#" id="reloadLink">Tải lại trang (AJAX Refresh)</a>
        </div>
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../../public/js/home.js"></script>
    </body>
</html>