<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>Manager Story</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
        <link rel="shortcut icon" type="image/x-icon" href="../public/image/classbook.png" />

    </head>
    <body>
    <% include header %>
        <div id="inner">

            <div>
                <h1>Manager Story</h1>
            </div>
            
            <div id="main">
                <table width="600" border="1" id="man-t">
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Author</td>
                        <td><a href="../manager/add">Insert</a></td>
                    </tr>
                    
                    <% rs.forEach(function(t){ %>
                    <tr>
                        <td><%- t.ID %></td>
                        <td><%- t.Name %></td>
                        <td><%- t.Author %></td>
                        <td>
                            <a href="../manager/update/<%- t.Name_link %>">Update</a> - 
                            <a href="../manager/delete/<%- t.ID %>">Delete</a>
                        </td>
                    </tr>
                    <% }); %>
                </table><!--end man-t-->
            </div><!--main-->
        </div><!--end inner-->
        <%include footer%>
    </body>
</html>